* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    color: #233E3F;
    font-weight: 1000;
  }

  .search-box {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .input-search{
    position: absolute;
    left: 80px;
    width: 100%;
    height: 100%;
    line-height: 80px;
  }

  .input-search input {
    border: 0;
    outline: 0;
    font-size: 20px;
  }

  .btn-close {
    font-size: 20px;
    margin-left: 15px;
  }
  
  .bi{
    color: #FAF6EB;
  }
  

  .social, .socialp, header{
    background-color: black; 
    font-size: 30px;

  }

  nav {
    background-color: #FAF6EB;
  }

 nav ul {
    display: flex; 
    align-items: center;
    height: 100%;
  }

  nav ul li {
    margin-left: 30px;
  }

  #burguer {
    color: #FAF6EB;
    cursor: pointer;
    font-size: 50px;
    display: flex;
  }

  #burguer:hover {
    background-color: #233E3F;
    color: #faf3e0;
  }

  #search {
    color: #FAF6EB;
    cursor: pointer;
    font-size: 40px;
  }
  
  #search:hover {
    background-color: #FAF6EB;
    color: black;
  }
  
  #seta {
    color: #233E3F;
    cursor: pointer;
    font-size: 15px;
    font-weight: 1000;
  }
  
  #seta:hover {
    background-color: #233E3F;
    color: #FAF6EB;
  }

  .socialp {
    justify-content: space-between;
    display: flex;
    padding: 8px;
    bottom: 12px;
    
  }

   .social {
    width: 60px;
    height: 60px;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin-top: auto;
  }

  .page {
    justify-content: space-between;
    display: flex;
    padding: 8px;
    bottom: 12px;
    
  }

  .pages{
    height: 100%;
    font-size: 30px;
    font-weight: bolder;
    list-style: none;
    margin: 0 auto;
    padding: 40px;
    gap: 50px;
  }

  @media  (max-width: 800px){
    .pages {
      display: none;
    }
    #burguer {
      display: block;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 150px;
    margin-left: 700px;
    background-color: #FAF6EB;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-bottom: .2rem;
    position: relative;
  }
  
  label:not(:first-of-type){
    margin-top: 1rem;
  }
  
  input {
    padding: .2rem .5rem;
  }
  
  .helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }
  
  button {
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
  }
  

  .required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }