* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
  }
    
  body{
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    color: #233E3F; 
    font-weight: 1000;
    background-image: linear-gradient(to bottom, #F9F2E9, #FAF3E0, #DAD6CE, #DFDEDB, #808080);
    /* background-attachment: fixed; */

  }

  .search-box {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .input-search{
    position: absolute;
    left: 80px;
    width: 100%;
    height: 100%;
    line-height: 80px;
  }

  .input-search input {
    border: 0;
    outline: 0;
    font-size: 20px;
  }

  .btn-close {
    font-size: 20px;
    margin-left: 15px;
  }
  
  .bi{
    color: #FAF6EB;
  }
  

  .social, .socialp, header{
    background-color: #233E3F; 
    font-size: 30px;

  }

  nav {
    background-color: #FAF6EB;
  }

 nav ul {
    display: flex; 
    align-items: center;
    height: 100%;
  }

  nav ul li {
    margin-left: 30px;
  }

  #burguer {
    color: #FAF6EB;
    cursor: pointer;
    font-size: 50px;
    display: flex;
  }

  #burguer:hover {
    background-color: #233E3F;
    color: #faf3e0;
  }

  #search, .btn-close {
    color: #FAF6EB;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
  }

  #search:hover {
    background-color: #faf3e0;
    color: black;
  }

  .socialp {
    justify-content: space-between;
    display: flex;
    padding: 8px;
    bottom: 12px;
    
  }

   .social {
    width: 60px;
    height: 60px;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin-top: auto; 
  }

  .page {
    justify-content: space-between;
    display: flex;
    padding: 8px;
    bottom: 12px;
    
  }

  .pages{
    justify-content: right;
    font-size: 25px;
    font-weight: bolder;
    align-content: center;
    list-style: none;
    margin-top: auto; 
    margin-bottom: auto;
    margin-right: 680px;
    gap: 50px;
  }

  @media  (max-width: 800px){
    .pages {
      display: none;
    }
    #burguer {
      display: block;
    }
  }

  .carrossel {
    width: 1200px;
    height: 350px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 10px 10px 15px black;
  }

  .carrossel ul {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 350px;
  }

  .carrossel img {
    width: 1200px;
    height: 350px;
  }

  .carrossel li {
    position: relative;
    animation: slide 15s infinite ease-out;
  }


  @keyframes slide {
    0%{left: 0px;}
    20%{left: 0px;}
    30%{left: -1200px;}
    50%{left: -1200px;}
    60%{left: -2400px;}
    80%{left: -2400px;}
    90%{left: -3600px;}
    99%{left: -3600px;}
    100%{left: 0px;}
  }

  .news-box-left {
    width: 1200px;
    height: 350px;
    overflow: hidden; 
    margin: 100px;
    margin-left: 30px;
    box-shadow: 10px 10px 15px black;
    display: flex;
    background-color: #faf3e0;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
    }

  .img-left {
    width: 1200px;
    height: 350px;
  }
  

  .left { 
    display: flex;
    gap: 30px;    
    justify-content: left;   
  }

  .news-left {
    position: absolute;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 30px; 
    margin-left: 700px;
    padding-top: 90px;
    color: #faf3e0;
  }

  .news1 {
    text-transform: uppercase;
  }

  .title {
    font-size: 19px;
    justify-content: baseline;
    margin:  30px;
    font-family: 'League Spartan', sans-serif;
    color: #faf3e0;
    text-align: center; 
  }

   
  .news-box-right {
    width: 1200px;
    height: 350px;
    overflow: hidden; 
    margin: 100px;
    margin-left: 680px;
    box-shadow: 10px 10px 15px black;
    display: flex;
    background-color: #faf3e0;
    font-family: "Kanit", sans-serif;
    font-weight: 1000;
    }

    .img-right {
      width: 1200px;
      height: 350px;
    }

  .right { 
    display: flex;
    gap: 30px;    
    justify-content: left;
  }

  .news-right {
    position: absolute;
    text-align: center;
    align-content: left;
    font-size: 30px; 
    margin-right: 690px;
    padding-top: 50px;
    justify-content: center;
    color: #faf3e0;
  }

  .news2 {
    text-transform: uppercase;    
  }

  .title2 {
    font-size: 19px;
    justify-content: baseline;
    margin:  30px;
    font-family: 'League Spartan', sans-serif;
    color: #faf3e0;
    text-align: center ;
  }

  .news-right a:visited {
    text-decoration: none;
    color: #faf3e0;
  }

  .news-right a:link {
    text-decoration: none;
    color: #faf3e0;
  }

  .news-right a:hover {
    text-decoration: none;
    color: #faf3e0;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #233E3F;
  }
  a:hover {
    text-decoration: none;
    color: #233E3F;
  }
  a:active {
    text-decoration: none
  }
  .footer {
    justify-content: right;
    align-items: center;
    list-style: none;
    margin-top: auto;
    background-color: #233E3F;
  }
  
  .title-footer {
    font-size: 19px;
    font-family: 'League Spartan', sans-serif;
    color: #faf3e0;
    text-align: center ;
  }
